/* GEneral */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    padding: 30px;
    padding-top: 100px;
    gap: 50px;
    flex-flow: row wrap;
    background-color: #1a1a1a;
    color: #e7e7e7;
}

.hide {
    display: none;
}

h4 {
    font-size: 1.5em;
}

input[type="text"] {
    min-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #252525;
    color: #e7e7e7;
    box-shadow: 5px 5px 8px 1px #141414 inset;
    outline: none;
}

.btn {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 16px;
    color: #1a1a1a;
}

.btn:hover {
    transform: scale(1.01);
}

.btn:active {
    transform: scale(0.99);
    box-shadow: none;
}

.btn-clear {
    color: #1a1a1a;
    box-shadow: 1px 1px 7px #e8e8e87c;
    background-color: #E8E8E8;
    outline-color: #E8E8E8;
}

.container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: #1a1a1a;
    margin: auto;
    border-radius: 30px;
    padding: 20px;
    /* box-shadow: 5px 5px 8px 1px #141414, -2px -2px 8px #252525; */
    text-transform: capitalize;
    text-align: center;
    color: #e7e7e7;
}

.alert-success {
    width: 90%;
    position: absolute;
    top: 50px;
}

.chosen-meal, .matched-meal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Random meal */

.btn-picker {
    box-shadow: 1px 1px 7px #26b756;
    background-color: #26B756;
    outline-color: #26B756;
}

/* Search meal */

.meal-search-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.btn-search {
    box-shadow: 1px 1px 7px #01B7C4;
    background-color: #01B7C4;
    outline-color: #01B7C4;
}

.matched-meal {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}

.matched-meal p {
    padding: 10px 0 10px 10px;
    color: #e7e7e7;
}

#ingredient {
    outline: none;
}

/* ADD meal */

.container.add-meal {
    border-color: #E88E06;
}

.add-meal {
    position: relative;
}

#addMeal {
    outline: none;
    margin-top: 20px;
}

.btn-addMeal {
    box-shadow: 1px 1px 7px #E88E06;
    background-color: #E88E06;
    outline-color: #E88E06;
}

/*SHOW all meals*/

.btn-show-every-meal {
    box-shadow: 1px 1px 7px #da178f;
    background-color: #da178f;
    outline-color: #da178f;
    color: #f1f1f1;
}

#every-meal {
    width: 100%;
}

.every-meal-btns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

.meal-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 10px 0;
}

.btn-remove-meal {
    font-size: 11px;
    padding: 8px;
    align-self: center;
    background-color: #c30000;
    color: #f1f1f1;
}

/* DELETE all meals */

.btn-delete-meals {
    box-shadow: 1px 1px 7px #c30000;
    background-color: #c30000;
    outline-color: #c30000;
    color: #f1f1f1;
}

/* BMI Calculator */

#bmi-result {
    padding: 8px;
    background-color: #202020;
}

.bmi-calculator {
    margin: 20px 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

.bmi-calculator label {
    display: block;
}

#weight, #height {
    margin: 10px 5px;
}

.bmi-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.btn-bmi {
    box-shadow: 1px 1px 7px #8820ff;
    background-color: #8820ff;
    color: #ffffff;
    outline-color: #8820ff;
}

.bmi-standards {
    margin: 10px;
    justify-content: center;
    display: flex;
}

.bmi-standards span {
    padding: 7px;
    font-size: 14px;
}

.bmi-standards span:nth-child(1), .bmi-standards span:nth-child(8) {
    background-color: #7a0b0d48;
    color:#f1f1f1;
}

.bmi-standards span:nth-child(2), .bmi-standards span:nth-child(7) {
    background-color: #b7311d48;
    color:#f1f1f1;
}

.bmi-standards span:nth-child(3), .bmi-standards span:nth-child(6) {
    background-color:#92770d48;
    color: #f1f1f1;
}

.bmi-standards span:nth-child(4) {
    background-color: #009e3748;
    color:#f1f1f1;
}

.bmi-standards span:nth-child(5) {
    background-color: #e7c51748;
    color:#f1f1f1;
}

@media screen and (max-width: 630px) {
    .bmi-standards{
        flex-flow: column;
    }
}